.currency_tab {
    h4 {
        margin: 10px 0 20px 10px;
        text-align: left;
      }
      .choose_one {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-row-gap: 20px;
    
        font-size: 18px;
    
        div {
          height: 20px;
          padding: 5px;
          line-height: 20px;
        }
      }
}