.notification {
    position: absolute;
  z-index: 1;
  left: 900px;
  top: 64px;
  background-color: #eee;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  .noti_header {
    position: absolute;
    top: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}