.image {
    position: absolute;
  width: 288px;
  height: 144px;

  top: 36px;

  border-radius: 10px;
  .image-product {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}