.deposit-body {
  position: absolute;
  top: 100px;
  left: 400px;
  .selectcoin {
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    label {
      width: 100px;
      height: 40px;
      line-height: 40px;
    }
    select {
      width: 400px;
      height: 30px;
      border-radius: 5px;
    }
  }
  .deposit-to {
    display: flex;
    width: 600px;
    justify-content: space-between;
    height: 300px;
    label {
      width: 100px;
      height: 40px;
      line-height: 40px;
    }
    .has-address {
      width: 400px;
      border-radius: 5px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 5px;
      .address {
        text-align: left;
      }
      .amount {
        display: flex;
        flex-direction: column;
        label {
          font-size: 12px;
          text-align: left;
        }
        input {
          height: 30px;
          border-radius: 5px;
        }
      }
      .tag {
        display: flex;
        flex-direction: column;
        label {
          font-size: 12px;
          text-align: left;
        }
        input {
          height: 30px;
          border-radius: 5px;
        }
      }
      .submit-deposit {
        position: relative;
        width: 400px;
        height: 40px;
        margin: 20px auto;
      }
    }
    .non-address {
      width: 400px;
      border-radius: 5px;
      height: 250px;
      background-color: #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .get-address {
        position: relative;
        width: 150px;
        height: 40px;
        margin: 20px auto;
      }
    }
  }
}
